### IntelliJ IDEA ###
**/.idea/
**/.mvn/
**/target/
**/mvnw.cmd
**/mvnw

### VS Code ###
**/.vscode/
**/.venv/


# Python #
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
**/*.env
**/.pytest_cache/
**/.ipynb_checkpoints/
**/env/